langchain
langchain-core
langchain-community

langchain-openai
openai

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

python-dotenv

numpy
scikit-learn
streamlit

faiss-cpu 
python-docx 
pypdf
